<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<title>Project Neptune</title>
<link rel="icon" href="Imagens/Home/logo.png">
<link href="/project_neptune/app/assets/stylesheets/index_css/CSS.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
<script src="/project_neptune/app/assets/javascripts/index_script/jQuery.js" type="text/javascript"></script>
<script src="/project_neptune/app/assets/javascripts/index_script/Script.js" type="text/javascript"></script>
</head>

<body>

<section id="Desktop">

<header>
	
	<div class="logo-menu" tabindex="0" href="#">
	</div>
	
	<nav>
		<ul>
			<li><a href="#1" id="sobre" tabindex="1">Sobre</a></li>
			<li><a href="#2" id="quemsomos" tabindex="2">box2</a></li>
			<li> <%= link_to 'Login', new_user_session_path %> </li>
		</ul>
	</nav>
</header>

<section class="home" tabindex="5">

	<div class="video-mask">

	<div class="home-text">
		
		<h3>Gestão dos Tanques do Aquário de Santos</h3>

	</div>
   	
    </div>
    
    <video src="/project_neptune/app/assets/images/neptune.mp4" autoplay muted loop></video>
   	
</section>

<section class="new" id="1"  tabindex="6">
	<article class="content">
    
        <h3>Sistema de Sensoreamento dos tanques integrado com um sistema Web.<h3>
        
	</article>
</section>

<section class="nossas" tabindex="8">
	
	
	
</section>

<section class="depoimentos" tabindex="10">

	

</section>

<footer>
	
	<div class="footer-content" tabindex="12">

    	<div class="footer-menu">
        
        <h5>Project Neptune</h5>
            
		<h6><a href="#1">Sobre</a></h6>
        <h6><a href="#2">Depoimentos</a></h6>
        <h6><a href="#4">Login</a></h6>
        
        </div>
        
        <div class="footer-servicos">
        
        <h5>Desenvolvedores</h5>

		<h6>Rudney Forti</h6>
        <h6>Vinícius Póvoas</h6>

        </div>
        
        <div class="footer-contato">
        
		<h5>Orientador</h5>

		<h6>Fábio Cardoso</h6>
        
        </div>
    
    </div>

	<div class="footer-rights">
		<h3>Copyright © 2019 Project Neptune - Todos os Direitos Reservados</h3>
    </div>
	
</footer>

</section>
