@charset "utf-8";

/* ---------------------------------------------- Body ---------------------------------------------- */

body{margin:0; padding:0; background-color: #F0F0F0; overflow-x:hidden;}

h1, h2, h3, h4, h5, h6{margin:0; padding: 0;}

::-webkit-scrollbar-track{background-color:#000000;}

::-webkit-scrollbar{width:0px;}

::-webkit-scrollbar-thumb{background:#646464;}

input[type=button]:focus{outline:0;}

	
/* ---------------------------------------------- Global ---------------------------------------------- */

.content{height:auto; width: 1000px; position:absolute; left: 50%; margin-left: -500px;}

h1{color:#333333; font-family: 'Montserrat', sans-serif; font-size: 45px; padding: 120px 0px 30px 0px; margin-bottom: 40px; text-align: center;}
	
/* ---------------------------------------------- Header ---------------------------------------------- */

header{height:68px; width: 100%; position:fixed; z-index: 9999; background-color: rgba(0, 0, 0, 0.4);}

nav{width: 400px; position:absolute; left:100%; margin-left:-410px; margin-top: 20px;}

nav ul{margin:0; padding: 0; display: flex; text-align: center;}

nav li{list-style: none;}

nav a{font-family: 'Lato', sans-serif; font-size: 13px; padding: 18px 30px; color:#FFF; cursor:pointer; transition:.5s; text-decoration: none; transition:.5s; text-transform: uppercase; letter-spacing: 2px; border-bottom:5px solid transparent;}

nav a:focus{outline: 0;}
    
nav a:hover{border-bottom:5px solid #FFF;}

.active{border-bottom:5px solid #3ab4d6 !important;}

.logo-menu{background-image: url(../Imagens/Home/logo40px.png); height: 41px; width: 279px; background-size: cover; position: absolute; margin-top: 10px; margin-left: 10px; cursor: pointer; transition: .3s;}

.logo-menu:hover{background-image: url(../Imagens/Home/logohover40px.png);}
	
.header-active{background-color:hsla(0,0%,0%,0.50); transition:1s;}
	
/* ---------------------------------------------- Home ---------------------------------------------- */

.home{height: 100vh; width:100%; position:relative; transition:1s; background-color: #031023;}

.home h3{font-family: 'Raleway', sans-serif; color: #FFF; font-size: 35px; line-height: 35px; font-weight: normal;}
	
.home-text{height: 75px; width: 1024px; position: absolute; left: 0; right: 0; top:0; bottom:0; margin: auto; text-align:center;}
	
.home input[type=button]{height: 70px; width: 300px; background-color: #349cb9; color: #FFF; border:none; position: relative; margin-top: 50px; cursor: pointer; transition: .3s; font-family: 'Raleway', sans-serif; font-size:20px; border:1px solid #349cb9;}
	
.home input[type=button]:hover{background-color: hsla(0,0%,0%,0.00); border:1px solid #349cb9;}

.home input[type=button]:focus{background-color: #349cb9; color: #FFF; border:1px solid #349cb9;}

video{right: 0; bottom: 0;	min-width: 100%; min-height: 100%; width: auto; height: auto;}

.video-mask{height:100%; width:100%; background-color:hsla(0,0%,0%,0.50); position:absolute; z-index:99;}

/* ---------------------------------------------- New ---------------------------------------------- */

.new{height: 210px; width: 100%; background-color: #007abd; position: relative; text-align: center; padding: 80px 0px;}
	
.new h3{font-family: 'Raleway', sans-serif; color: #FFF; font-size: 25px; font-weight: normal; margin-top: 0px;}

.new input[type=button]{height: 50px; width: 200px; background-color: hsla(0,0%,0%,0.00); border:2px solid #FFF; color:#FFF; border-radius: 50px; font-family: 'Raleway', sans-serif; margin-top: 50px; cursor: pointer; transition: .3s; font-size: 15px; letter-spacing: 3px;}
	
.new input[type=button]:hover{background-color: #FFF; color: #007abd;}
	
.new input[type=button]:focus{background-color: hsla(0,0%,0%,0.00); border:2px solid #FFF; color:#FFF;}
	
.new-sobre{height: 700px; width: 100%; background-color: #262626; position: relative; display: none;}

.new-sobre h1{text-transform: uppercase; font-family: 'Raleway', sans-serif; letter-spacing: 10px; color: #CDCDCD;}
	
.new-sobre h3{font-family: 'Raleway', sans-serif; color: #E5E5E5; font-weight: normal; font-size: 18px; line-height: 30px;}
	
.new-sobre ul{margin: 0; margin-left: -20px;}

.new-sobre li{font-family: 'Raleway', sans-serif; color: #E5E5E5; font-weight: normal; font-size: 18px; line-height: 30px;}

.btn-top{background-image: url(../Imagens/Home/Top.png); height: 40px; width: 40px; background-size: cover; position: relative; left: 50%; margin-left: -20px; margin-top: 50px; cursor: pointer;}
	
.new .content{height:100%; width: 900px; position:absolute; left: 50%; margin-left: -450px;}
	
	
/* ---------------------------------------------- Caracteristicas ---------------------------------------------- */

.nossas{height: 500px; width: 100%; background-image: url(../Imagens/Nossas-Caracteristicas/0.jpg); background-size: cover; background-position: center;}
	
.box{height: 250px; width: 25%; float: left; background-color:hsla(0,0%,0%,0.30); text-align: center;}
	
.box h3{font-family: 'Raleway', sans-serif; color: #FFF; font-weight: normal; font-size: 25px; line-height: 30px; margin-top: 85px; text-transform: uppercase;}

.box h4{font-family: 'Raleway', sans-serif; color: #FFF; font-weight: normal; font-size: 25px; line-height: 30px; text-transform: uppercase;}
	
.box-1{background-color: hsla(204,81%,25%,0.80)}

.box-white{background-color:hsla(0,0%,100%,0.50);}

.box-blue{background-color:hsla(198,41%,61%,0.70);}

.nossas img{width: 100px; margin-top: 50px; margin-bottom: 30px;}
	
.font-blue{color:#007abd !important;}
	
	
/* -------------------------------------------------------- Depoimentos ---------------------------------------------------------------- */

.depoimentos{height:400px; width:100%; position:relative; background-color:#262626; background-size:cover; padding-top: 80px;}

.slider_dep{height:400px; width:100%; position:relative; transition:1s;}

.dep_1{height:400px; width:100%; position:relative;}

.dep_2{height:400px; width:100%; position:relative; left:100%; margin-top:-400px;}

.dep_3{height:400px; width:100%; position:relative; left:200%; margin-top:-400px;}

.foto_dep_1{height:140px; width:140px; background-image:url(../Imagens/Depoimentos/dep_1.png); border-radius:140px; position:relative; left:50%; margin-left:-70px; background-size: cover;}

.foto_dep_2{height:140px; width:140px; background-image:url(../Imagens/Depoimentos/dep_2.png); border-radius:140px; position:relative; left:50%; margin-left:-70px; background-size: cover;}

.foto_dep_3{height:140px; width:140px; background-image:url(../Imagens/Depoimentos/dep_3.png); border-radius:140px; position:relative; left:50%; margin-left:-70px; background-size: cover; background-position: right;}

.block_dep{height:15px; width:100px; position:absolute; top:100%; margin-top:-40px; left:50%; margin-left:-50px; z-index:50;}

.circle_dep_1{height:15px; width:15px; background-color:#FFF; border-radius:12px; position:relative; transition:.4s; cursor:pointer; float: left;}

.circle_dep_2{height:15px; width:15px; background-color:#FFF; border-radius:12px; position:relative; transition:.4s; cursor:pointer; float: left; margin-left: 20px;}

.circle_dep_3{height:15px; width:15px; background-color:#FFF; border-radius:12px; position:relative; transition:.4s; cursor:pointer; float: left; margin-left: 20px;}

.active_circle{background-color:#3ab4d6 !important;}

.txt_dep_1{height:100px; width:1000px; position:relative; left:50%; margin-left:-500px; margin-top:20px;}

.txt_dep_2{height:100px; width:1000px; position:relative; left:50%; margin-left:-500px; margin-top:20px;}

.txt_dep_3{height:100px; width:1000px; position:relative; left:50%; margin-left:-500px; margin-top:20px;}

.depoimentos h3{color:#e0e0e0; font-size:22px; font-family: 'Aref Ruqaa', serif; font-weight:normal; font-style:italic; text-align:center; margin-top: 40px; word-spacing:3px;}

.dep_line{height:3px; width:60px; background-color:#626262; position:relative; left:50%; margin-left:-30px; margin-top:25px;}

.depoimentos h2{color:#9e9e9e; font-size:20px; font-family: 'Aref Ruqaa', serif; font-weight:normal; text-align:center; margin-top:20px; word-spacing:3px; letter-spacing: 1px;}
	
/* ---------------------------------------------- Footer ---------------------------------------------- */

footer{height:400px; width: 100%; background-color:#000000; border-bottom:5px solid #3ab4d6;}

footer a{transition:.3s; cursor:pointer; color:#FFFFFF; text-decoration:none; font-weight:normal;} 

footer a:hover{color:#3ab4d6;}

footer h3{color:#878787; font-family: 'Montserrat', sans-serif; font-size:14px; font-weight:normal;}

.footer-content{height:150px; width:950px; position:absolute; left:50%; margin-left:-420px; margin-top:50px;}

.footer-content h5{color:#3ab4d6; font-size:18px; font-family: 'Montserrat', sans-serif; padding-bottom:20px; font-weight:normal;}

.footer-content h6{color:#FFFFFF; font-size:15px; font-family: 'Montserrat', sans-serif; font-weight:normal; line-height:20px;}

.footer-menu{height:150px; width:33%; float:left;}

.footer-servicos{height:150px; width:33%; float:left;}

.footer-contato{height:150px; width:33%; float:left;}

.footer-rights{height:30px; width: 100%; text-align:center; position:absolute; margin-top:290px;}

}


